@model CNPM5.Models.TblRoom

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Thêm mới phòng</h1>
<hr />
<div class="row">
    <div class="col-md-4 card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="FloorId" for="html5-text-input" class="col-md-2 col-form-label">Chọn tầng</label>
                    <div class="col-md-10">
                        <select asp-for="FloorId" class="form-control" asp-items="ViewBag.FloorId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="RoomName" for="html5-text-input" class="col-md-2 col-form-label">Tên phòng</label>
                    <div class="col-md-10">
                        <input asp-for="RoomName" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Capacity" for="html5-text-input" class="col-md-2 col-form-label">Sức chứa</label>
                    <div class="col-md-10">
                        <input asp-for="Capacity" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="CurrentOccupants" for="html5-text-input" class="col-md-2 col-form-label">Số người ở hiện tại</label>
                    <div class="col-md-10">
                        <input asp-for="CurrentOccupants" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Gender" for="html5-text-input" class="col-md-2 col-form-label">Giới tính</label>
                    <div class="col-md-10">
                        <input asp-for="Gender" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="RoomType" for="html5-text-input" class="col-md-2 col-form-label">Loại phòng</label>
                    <div class="col-md-10">
                        <input asp-for="RoomType" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Price" for="html5-text-input" class="col-md-2 col-form-label">Giá tiền</label>
                    <div class="col-md-10">
                        <input asp-for="Price" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Status" for="html5-text-input" class="col-md-2 col-form-label">Giá tiền</label>
                    <div class="col-md-10">
                        <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                            <option>Trống</option>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index" style="margin-left: 10px;">
        <button type="button" class="btn btn-dark">Quay lại</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
