@model CNPM5.Models.TblAccount

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Thêm tài khoản</h1>
<<<<<<< HEAD
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Tên</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Tên đầy đủ</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số điện thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
=======

<hr />
<div class="row">
    <div class="col-md-4 card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Username" for="html5-text-input" class="col-md-2 col-form-label">Tên tài khoản</label>
                    <div class="col-md-10">
                        <input asp-for="Username" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Password" for="html5-text-input" class="col-md-2 col-form-label">Mật khẩu</label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="FullName" for="html5-text-input" class="col-md-2 col-form-label">Họ và tên</label>
                    <div class="col-md-10">
                        <input asp-for="FullName" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Phone" for="html5-text-input" class="col-md-2 col-form-label">Số điện thoại</label>
                    <div class="col-md-10">
                        <input asp-for="Phone" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Email" for="html5-text-input" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
>>>>>>> 349c052ffd8c3acf4d44a8afe9da110c3781c1d0
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="RoleId" for="html5-text-input" class="col-md-2 col-form-label">Phân quyền</label>
                    <div class="col-md-10">
                        <select asp-for="RoleId" asp-items="ViewBag.RoleId" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Status" for="html5-text-input" class="col-md-2 col-form-label">Trạng thái</label>
                    <div class="col-md-10">
                        <input asp-for="Status" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Lưu" class="btn btn-primary" />
=======
                <input type="submit" value="Thêm" class="btn btn-primary" />
>>>>>>> 349c052ffd8c3acf4d44a8afe9da110c3781c1d0
            </div>
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    <a asp-action="Index">Quay lại</a>
=======
    <a asp-action="Index" style="margin-left: 10px;">
        <button type="button" class="btn btn-dark">Quay lại</button>
    </a>
>>>>>>> 349c052ffd8c3acf4d44a8afe9da110c3781c1d0
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}