@model CNPM5.Models.TblBuilding

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Thêm mới tào nhà</h1>

<hr />
<div class="row">
    <div class="col-md-4 card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Name" for="html5-text-input" class="col-md-2 col-form-label">Tên toà nhà</label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="Description" for="html5-text-input" class="col-md-2 col-form-label">Mô tả</label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="TotalFloors" for="html5-text-input" class="col-md-2 col-form-label">Tổng số tầng</label>
                    <div class="col-md-10">
                        <input asp-for="TotalFloors" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label asp-for="TotalRooms" for="html5-text-input" class="col-md-2 col-form-label">Tổng số phòng</label>
                    <div class="col-md-10">
                        <input asp-for="TotalRooms" class="form-control" type="text" id="html5-text-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="margin-left: 10px;">
        <button type="button" class="btn btn-dark">Quay lại</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
