@model CNPM5.Models.Violation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Violation</h4>
<hr />
<div class="row">
    <div class="col-md-4 card-body">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId"></label>
                <select asp-for="StudentId" asp-items="@(ViewData["StudentId"] as SelectList)" class="form-control">
                    <option value="">--- Chọn Sinh viên ---</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuleId"></label>
                <select asp-for="RuleId" asp-items="@(ViewData["RuleId"] as SelectList)" class="form-control">
                    <option value="">--- Chọn Nội quy ---</option>
                </select>
                <span asp-validation-for="RuleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViolationDate" class="control-label">Ngày vi phạm</label>
                <input asp-for="ViolationDate"  class="form-control" />
                <span asp-validation-for="ViolationDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
