@model CNPM5.Models.Rule

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Thêm nội quy</h1>

<hr />
<div class="row">
    <div class="col-md-4 card-body">
        <form asp-action="Create" >
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RuleName" class="control-label">Tên nội quy</label>
                <input asp-for="RuleName" class="form-control" />
                <span asp-validation-for="RuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả nội quy</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty" class="control-label">Mức phạt</label>
                <input asp-for="Penalty" class="form-control" />
                <span asp-validation-for="Penalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label">Ngày hiệu lực</label>
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label">Người tạo</label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
